## **Working with Dates and Times**

In [26]:
import numpy as np
import pandas as pd

In [27]:
# from datetime import date, time, datetime, timedelta 

import datetime as dt

In [28]:
# dt.date(year, month, day)
# dt.date.today()       # current date
dt.date(2025, 11, 25)

datetime.date(2025, 11, 25)

In [29]:
# dt.datetime(year, month, day, hour, minute, second, microsecond)
# dt.datetime.now()   # current date and time
dt.datetime(2025, 11, 25, 10, 30, 45)

datetime.datetime(2025, 11, 25, 10, 30, 45)

In [30]:
# dt.time(hour, minute, second, microsecond)
dt.time(14, 45, 30)

datetime.time(14, 45, 30)

In [31]:
# timestamp

pd.Timestamp('2025-11-25 10:30:45')

Timestamp('2025-11-25 10:30:45')

In [32]:
pd.Timestamp("2025-11-18 10:35")

Timestamp('2025-11-18 10:35:00')

In [33]:
pd.Timestamp(year=2025, month=11, hour=10, minute=25, day=25, second=15)

Timestamp('2025-11-25 10:25:15')

In [34]:
my_time = pd.Timestamp(dt.datetime.now())
my_time

Timestamp('2025-11-18 00:17:28.051605')

In [35]:
my_time.year

2025

In [36]:
my_time.microsecond

51605

In [45]:
# disney.csv

disney = pd.read_csv("data/disney.csv", parse_dates=["Date"])

disney.head()

        Date      High       Low      Open     Close
0 1962-01-02  0.096026  0.092908  0.092908  0.092908
1 1962-01-03  0.094467  0.092908  0.092908  0.094155
2 1962-01-04  0.094467  0.093532  0.094155  0.094155
3 1962-01-05  0.094779  0.093844  0.094155  0.094467
4 1962-01-08  0.095714  0.092285  0.094467  0.094155

In [46]:
disney["Date"].dt.year

0        1962
1        1962
2        1962
3        1962
4        1962
         ...
14722    2020
14723    2020
14724    2020
14725    2020
14726    2020
Name: Date, Length: 14727, dtype: int32

In [53]:
disney['year'] = disney["Date"].dt.year
disney['month'] = disney["Date"].dt.month_name()
disney['day'] = disney["Date"].dt.day_name()
disney['hour'] = disney["Date"].dt.hour
disney['minute'] = disney["Date"].dt.minute
disney['second'] = disney["Date"].dt.second
disney['Is_Month_start'] = disney["Date"].dt.is_month_start

disney.head()

,Date,High,Low,Open,Close,Year,Month,Day,year,month,day,hour,minute,second,Is_Month_start
0,1962-01-02,0.096026,0.092908,0.092908,0.092908,1962,1,2,1962,January,Tuesday,0,0,0,False
1,1962-01-03,0.094467,0.092908,0.092908,0.094155,1962,1,3,1962,January,Wednesday,0,0,0,False
2,1962-01-04,0.094467,0.093532,0.094155,0.094155,1962,1,4,1962,January,Thursday,0,0,0,False
3,1962-01-05,0.094779,0.093844,0.094155,0.094467,1962,1,5,1962,January,Friday,0,0,0,False
4,1962-01-08,0.095714,0.092285,0.094467,0.094155,1962,1,8,1962,January,Monday,0,0,0,False

In [51]:
disney["Date"].dt.is_quarter_start

0        False
1        False
2        False
3        False
4        False
         ...
14722    False
14723    False
14724    False
14725     True
14726    False
Name: Date, Length: 14727, dtype: bool

In [54]:
disney["Date"].dt.is_month_start        # is_year_start / is_quarter_end / is_month_end / is_year_end

0        False
1        False
2        False
3        False
4        False
         ...
14722    False
14723    False
14724    False
14725     True
14726    False
Name: Date, Length: 14727, dtype: bool

### **pd.DateOffset() - To Offset a given date or time**

In [60]:
###  moving away from the date time

disney["Date"] + pd.DateOffset(years=40, months=3, days=4, minutes=30, seconds=15)

0       2002-04-06 00:30:15
1       2002-04-07 00:30:15
2       2002-04-08 00:30:15
3       2002-04-09 00:30:15
4       2002-04-12 00:30:15
                ...
14722   2060-09-30 00:30:15
14723   2060-10-03 00:30:15
14724   2060-10-04 00:30:15
14725   2060-10-05 00:30:15
14726   2060-10-06 00:30:15
Name: Date, Length: 14727, dtype: datetime64[ns]

In [61]:
start = dt.date.today()

start

datetime.date(2025, 11, 18)

In [62]:
end = start + pd.DateOffset(weeks=10)

end

Timestamp('2026-01-27 00:00:00')

### **pd.offsets for offsetting date and time values**

In [63]:
start

datetime.date(2025, 11, 18)

In [64]:
start + pd.offsets.MonthEnd()

Timestamp('2025-11-30 00:00:00')

In [68]:
start + pd.offsets.BMonthEnd()      # BMonthEnd = Business Month End

Timestamp('2025-11-28 00:00:00')

In [65]:
start - pd.offsets.MonthEnd()

Timestamp('2025-10-31 00:00:00')

In [66]:
start + pd.offsets.MonthBegin()

Timestamp('2025-12-01 00:00:00')

In [67]:
start - pd.offsets.MonthBegin()

Timestamp('2025-11-01 00:00:00')

In [69]:
start + pd.offsets.MonthBegin()

Timestamp('2025-12-01 00:00:00')

In [70]:
start + pd.offsets.BMonthBegin()

Timestamp('2025-12-01 00:00:00')

### **pd.Timedelta() # duration**

In [71]:
start

datetime.date(2025, 11, 18)

In [72]:
duration = pd.Timedelta(weeks=5, days=3, hours=4, minutes=30, seconds=15)

start + duration

datetime.date(2025, 12, 26)