## **Multi Index DataFrame**

In [6]:
import numpy as np
import pandas as pd

In [7]:
columns = ["Morning", "Evening"]
rows = ["Mon", "Tue", "Wed"]

data = [
    (1, 2),
    (3, 4),
    (5, 6)
]

pd.DataFrame(data=data, index=rows, columns=columns)

     Morning  Evening
Mon        1        2
Tue        3        4
Wed        5        6

In [11]:
columns_index = pd.MultiIndex.from_tuples([
    ("Services", "Schools"),
    ("Services", "Police"),
    ("Culture", "Museum"),
    ("Culture", "Restuarants")
])

row_index = pd.MultiIndex.from_tuples([
    ("Malkajgiri", "TS", "500047"),
    ("Marredpally", "TS", "500026"),
    ("Musheerabad", "TS", "500020")
])
row_index.names = ["Street", "City", "Zip"]

data = [
    ["A", "B", "A+", "C"],
    ["B+", "C", "C+", "A"],
    ["A", "A", "C", "C"]
]

pd.DataFrame(data=data, index=row_index, columns=columns_index)

                        Services        Culture
                         Schools Police  Museum Restuarants
Street      City Zip
Malkajgiri  TS   500047        A      B      A+           C
Marredpally TS   500026       B+      C      C+           A
Musheerabad TS   500020        A      A       C           C

In [13]:
neighborhoods = pd.read_csv("data/neighborhoods.csv")
neighborhoods

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Culture,Culture.1,Services,Services.1
0,NaN,NaN,NaN,Restaurants,Museums,Police,Schools
1,State,City,Street,NaN,NaN,NaN,NaN
2,MO,Fisherborough,244 Tracy View,C+,F,D-,A+
3,SD,Port Curtisville,446 Cynthia Inlet,C-,B,B,D+
4,WV,Jimenezview,432 John Common,A,A+,F,B
...,...,...,...,...,...,...,...
248,MI,North Matthew,055 Clayton Isle,B-,C,B,C+
249,MT,Chadton,601 Richards Road,A-,D,D+,D
250,SC,Diazmouth,385 Robin Harbors,F,D,B-,D+
251,VA,Laurentown,255 Gonzalez Land,C+,B-,F,D-
252,NE,South Kennethmouth,346 Wallace Pass,C-,B-,A,A-

In [14]:
# fix the issues
#

neighborhoods = pd.read_csv("data/neighborhoods.csv",
                            index_col=[0, 1, 2],
                            header=[0, 1])
neighborhoods

                                               Culture         Services  \
                                           Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A


                                           Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [15]:
neighborhoods.index

MultiIndex([('MO',      'Fisherborough',        '244 Tracy View'),
            ('SD',   'Port Curtisville',     '446 Cynthia Inlet'),
            ('WV',        'Jimenezview',       '432 John Common'),
            ('AK',        'Stevenshire',        '238 Andrew Rue'),
            ('ND',     'New Joshuaport',       '877 Walter Neck'),
            ('ID',         'Wellsville',   '696 Weber Stravenue'),
            ('TN',          'Jodiburgh',    '285 Justin Corners'),
            ('DC',   'Lake Christopher',   '607 Montoya Harbors'),
            ('OH',          'Port Mike',      '041 Michael Neck'),
            ('ND',         'Hardyburgh', '550 Gilmore Mountains'),
            ...
            ('AK',          'Scottstad',      '114 Jones Garden'),
            ('IA',    'Port Willieport',  '320 Jennifer Mission'),
            ('ME',         'Port Linda',        '692 Hill Glens'),
            ('KS',         'Kaylamouth',       '483 Freeman Via'),
            ('WA',     'Port Shawnfort',    '691 Winters Bridge'),
            ('MI',      'North Matthew',      '055 Clayton Isle'),
            ('MT',            'Chadton',     '601 Richards Road'),
            ('SC',          'Diazmouth',     '385 Robin Harbors'),
            ('VA',         'Laurentown',     '255 Gonzalez Land'),
            ('NE', 'South Kennethmouth',      '346 Wallace Pass')],
           names=['State', 'City', 'Street'], length=251)

In [16]:
neighborhoods.index.names

FrozenList(['State', 'City', 'Street'])

In [17]:
neighborhoods.columns

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',     'Schools')],
           )

In [18]:
neighborhoods.columns.names

FrozenList([None, None])

In [19]:
neighborhoods.columns.names = ['Category', 'Subcategory']
neighborhoods

Category                                       Culture         Services  \
Subcategory                                Restaurants Museums   Police
State City               Street
MO    Fisherborough      244 Tracy View             C+       F       D-
SD    Port Curtisville   446 Cynthia Inlet          C-       B        B
WV    Jimenezview        432 John Common             A      A+        F
AK    Stevenshire        238 Andrew Rue             D-       A       A-
ND    New Joshuaport     877 Walter Neck            D+      C-        B
...                                                ...     ...      ...
MI    North Matthew      055 Clayton Isle           B-       C        B
MT    Chadton            601 Richards Road          A-       D       D+
SC    Diazmouth          385 Robin Harbors           F       D       B-
VA    Laurentown         255 Gonzalez Land          C+      B-        F
NE    South Kennethmouth 346 Wallace Pass           C-      B-        A

Category
Subcategory                                Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [20]:
neighborhoods.index.get_level_values(0)

Index(['MO', 'SD', 'WV', 'AK', 'ND', 'ID', 'TN', 'DC', 'OH', 'ND',
       ...
       'AK', 'IA', 'ME', 'KS', 'WA', 'MI', 'MT', 'SC', 'VA', 'NE'],
      dtype='object', name='State', length=251)

In [21]:
neighborhoods.index.get_level_values("State")

Index(['MO', 'SD', 'WV', 'AK', 'ND', 'ID', 'TN', 'DC', 'OH', 'ND',
       ...
       'AK', 'IA', 'ME', 'KS', 'WA', 'MI', 'MT', 'SC', 'VA', 'NE'],
      dtype='object', name='State', length=251)

In [23]:
neighborhoods.index.get_level_values(1)
neighborhoods.index.get_level_values("City")

Index(['Fisherborough', 'Port Curtisville', 'Jimenezview', 'Stevenshire',
       'New Joshuaport', 'Wellsville', 'Jodiburgh', 'Lake Christopher',
       'Port Mike', 'Hardyburgh',
       ...
       'Scottstad', 'Port Willieport', 'Port Linda', 'Kaylamouth',
       'Port Shawnfort', 'North Matthew', 'Chadton', 'Diazmouth', 'Laurentown',
       'South Kennethmouth'],
      dtype='object', name='City', length=251)

In [24]:
neighborhoods.index.get_level_values("Street")
neighborhoods.index.get_level_values(2)

Index(['244 Tracy View', '446 Cynthia Inlet', '432 John Common',
       '238 Andrew Rue', '877 Walter Neck', '696 Weber Stravenue',
       '285 Justin Corners', '607 Montoya Harbors', '041 Michael Neck',
       '550 Gilmore Mountains',
       ...
       '114 Jones Garden', '320 Jennifer Mission', '692 Hill Glens',
       '483 Freeman Via', '691 Winters Bridge', '055 Clayton Isle',
       '601 Richards Road', '385 Robin Harbors', '255 Gonzalez Land',
       '346 Wallace Pass'],
      dtype='object', name='Street', length=251)

In [25]:
# refer the columns

neighborhoods.columns.names

FrozenList(['Category', 'Subcategory'])

In [28]:
neighborhoods.columns.get_level_values(0)                           
neighborhoods.columns.get_level_values("Category")                  # both results the same

Index(['Culture', 'Culture', 'Services', 'Services'], dtype='object', name='Category')

In [30]:
neighborhoods.columns.get_level_values(1)                           
neighborhoods.columns.get_level_values("Subcategory")               # both results the same

Index(['Restaurants', 'Museums', 'Police', 'Schools'], dtype='object', name='Subcategory')

In [31]:
neighborhoods.sort_index(ascending=False)

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
WY    Reneeshire     717 Patel Square               B      B+        D       A
      Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Martintown     013 Bell Mills                C-       D       A-      B-
      Lake Nicole    933 Jennifer Burg              C      A+       A-       C
                     754 Weaver Turnpike            B      D-        B       D
...                                               ...     ...      ...     ...
AL    Clarkland      430 Douglas Mission            A       F       C+      B+
AK    Stevenshire    238 Andrew Rue                D-       A       A-      A-
      Scottstad      114 Jones Garden              D-      D-        D       D
                     082 Leblanc Freeway            D      C-        D      B+
      Rowlandchester 386 Rebecca Cove              C-      A-       A+       C

[251 rows x 4 columns]

In [32]:
neighborhoods.sort_index(ascending=[True, False, True])

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
AK    Stevenshire    238 Andrew Rue                D-       A       A-      A-
      Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Rowlandchester 386 Rebecca Cove              C-      A-       A+       C
AL    Vegaside       191 Mindy Meadows             B+      A-       A+      D+
...                                               ...     ...      ...     ...
WY    Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Martintown     013 Bell Mills                C-       D       A-      B-
      Lake Nicole    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
      Hardyburgh     227 Andrew Parkway             D      C-       D-       C

[251 rows x 4 columns]

In [34]:
neighborhoods.sort_index(level=1, ascending=True)               # sorting according to the 1st index column, which is City

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City          Street
AR    Allisonland   124 Diaz Brooks                C-      A+        F      C+
GA    Amyburgh      941 Brian Expressway            B       B       D-      C+
IA    Amyburgh      163 Heather Neck                F       D       A+      A-
ID    Andrewshire   952 Ellis Drive                C+      A-       C+       A
UT    Baileyfort    919 Stewart Hills              D+      C+        A       C
...                                               ...     ...      ...     ...
NC    West Scott    348 Jack Branch                A-      D-       A-       A
SD    West Scott    139 Hardy Vista                C+      A-       D+      B-
IN    Wilsonborough 066 Carr Road                  A+      C-        B       F
NC    Wilsonshire   871 Christopher Vista          B+       B       D+       F
NV    Wilsonshire   542 Jessica Stream              A      A+       C-      C+

[251 rows x 4 columns]

In [37]:
neighborhoods.sort_index(level=[1, 2], ascending=[True, False])       

neighborhoods.sort_index(level=["City", "Street"], ascending=[True, False])             # Both Same

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City          Street
AR    Allisonland   124 Diaz Brooks                C-      A+        F      C+
GA    Amyburgh      941 Brian Expressway            B       B       D-      C+
IA    Amyburgh      163 Heather Neck                F       D       A+      A-
ID    Andrewshire   952 Ellis Drive                C+      A-       C+       A
UT    Baileyfort    919 Stewart Hills              D+      C+        A       C
...                                               ...     ...      ...     ...
NC    West Scott    348 Jack Branch                A-      D-       A-       A
SD    West Scott    139 Hardy Vista                C+      A-       D+      B-
IN    Wilsonborough 066 Carr Road                  A+      C-        B       F
NC    Wilsonshire   871 Christopher Vista          B+       B       D+       F
NV    Wilsonshire   542 Jessica Stream              A      A+       C-      C+

[251 rows x 4 columns]

In [41]:
neighborhoods.sort_index(
    axis=1,
    level="Category",
    ascending=True
)                                                   # Category: Services and Culture were in ascending order

# we have two axis. axis=0 is for row and axis=1 is for column

Category                                   Culture             Services  \
Subcategory                                Museums Restaurants   Police
State City               Street
MO    Fisherborough      244 Tracy View          F          C+       D-
SD    Port Curtisville   446 Cynthia Inlet       B          C-        B
WV    Jimenezview        432 John Common        A+           A        F
AK    Stevenshire        238 Andrew Rue          A          D-       A-
ND    New Joshuaport     877 Walter Neck        C-          D+        B
...                                            ...         ...      ...
MI    North Matthew      055 Clayton Isle        C          B-        B
MT    Chadton            601 Richards Road       D          A-       D+
SC    Diazmouth          385 Robin Harbors       D           F       B-
VA    Laurentown         255 Gonzalez Land      B-          C+        F
NE    South Kennethmouth 346 Wallace Pass       B-          C-        A

Category
Subcategory                                Schools
State City               Street
MO    Fisherborough      244 Tracy View         A+
SD    Port Curtisville   446 Cynthia Inlet      D+
WV    Jimenezview        432 John Common         B
AK    Stevenshire        238 Andrew Rue         A-
ND    New Joshuaport     877 Walter Neck         B
...                                            ...
MI    North Matthew      055 Clayton Isle       C+
MT    Chadton            601 Richards Road       D
SC    Diazmouth          385 Robin Harbors      D+
VA    Laurentown         255 Gonzalez Land      D-
NE    South Kennethmouth 346 Wallace Pass       A-

[251 rows x 4 columns]

In [ ]:
neighborhoods.sort_index(
    axis=1,
    level="Subcategory",
    ascending=True
)                                                   # Subcategory items are sorted.

,,Category,Culture,Services,Culture,Services
,,Subcategory,Museums,Police,Restaurants,Schools
State,City,Street,,,,
MO,Fisherborough,244 Tracy View,F,D-,C+,A+
SD,Port Curtisville,446 Cynthia Inlet,B,B,C-,D+
WV,Jimenezview,432 John Common,A+,F,A,B
AK,Stevenshire,238 Andrew Rue,A,A-,D-,A-
ND,New Joshuaport,877 Walter Neck,C-,B,D+,B
...,...,...,...,...,...,...
MI,North Matthew,055 Clayton Isle,C,B,B-,C+
MT,Chadton,601 Richards Road,D,D+,A-,D
SC,Diazmouth,385 Robin Harbors,D,B-,F,D+
VA,Laurentown,255 Gonzalez Land,B-,F,C+,D-
NE,South Kennethmouth,346 Wallace Pass,B-,A,C-,A-

### **Extracting Columns or rows**

In [42]:
neighborhoods.loc["TX"]

Category                         Culture         Services
Subcategory                  Restaurants Museums   Police Schools
City        Street
Leeberg     693 Avila Pines           C+       F       A+      D+
Jacksonfort 332 Rachel Way            D+      A-       C-       D
Kingchester 534 Gordon Falls           C      D+        B       B

In [43]:
neighborhoods.loc["GA"]

Category                                Culture         Services
Subcategory                         Restaurants Museums   Police Schools
City           Street
Tinaborough    946 Lindsay Port               B       C        D       F
New Carmenland 943 James Lake                B+      B-       C+      C-
Amyburgh       941 Brian Expressway           B       B       D-      C+
Trevorville    283 Kelli Forest               D       C       D-      C+
Spencechester  570 Davis Isle                 F      C-       D-      C-

In [45]:
neighborhoods.loc[("MT", "Chadton", "601 Richards Road")]

Category  Subcategory
Culture   Restaurants    A-
          Museums         D
Services  Police         D+
          Schools         D
Name: (MT, Chadton, 601 Richards Road), dtype: object

In [46]:
neighborhoods.loc[("SC", "Diazmouth")]

C:\Users\toapr\AppData\Local\Temp\ipykernel_23944\3172131420.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  neighborhoods.loc[("SC", "Diazmouth")]

Category              Culture         Services
Subcategory       Restaurants Museums   Police Schools
Street
385 Robin Harbors           F       D       B-      D+

In [48]:
neighborhoods.loc[:,"Services"]

Subcategory                                Police Schools
State City               Street
MO    Fisherborough      244 Tracy View        D-      A+
SD    Port Curtisville   446 Cynthia Inlet      B      D+
WV    Jimenezview        432 John Common        F       B
AK    Stevenshire        238 Andrew Rue        A-      A-
ND    New Joshuaport     877 Walter Neck        B       B
...                                           ...     ...
MI    North Matthew      055 Clayton Isle       B      C+
MT    Chadton            601 Richards Road     D+       D
SC    Diazmouth          385 Robin Harbors     B-      D+
VA    Laurentown         255 Gonzalez Land      F      D-
NE    South Kennethmouth 346 Wallace Pass       A      A-

[251 rows x 2 columns]

In [50]:
neighborhoods.loc[:, ("Services", "Schools")]

State  City                Street
MO     Fisherborough       244 Tracy View       A+
SD     Port Curtisville    446 Cynthia Inlet    D+
WV     Jimenezview         432 John Common       B
AK     Stevenshire         238 Andrew Rue       A-
ND     New Joshuaport      877 Walter Neck       B
                                                ..
MI     North Matthew       055 Clayton Isle     C+
MT     Chadton             601 Richards Road     D
SC     Diazmouth           385 Robin Harbors    D+
VA     Laurentown          255 Gonzalez Land    D-
NE     South Kennethmouth  346 Wallace Pass     A-
Name: (Services, Schools), Length: 251, dtype: object

In [51]:
neighborhoods.loc["NE", ("Services", "Schools")]

City                Street
South Nathan        821 Jake Fork        A
Shawnchester        802 Cook Cliff       A
Barryborough        460 Anna Tunnel      A
South Kennethmouth  346 Wallace Pass    A-
Name: (Services, Schools), dtype: object

In [ ]:
# neighborhoods["NE":"NH", ("Services", "Schools")]

InvalidIndexError: slice('NE', 'NH', None)