### **Working with Pandas DataFrame**

In [1]:
import numpy as np
import pandas as pd

In [8]:
pokemon = pd.read_csv("data/pokemon.csv", index_col="Pokemon")
pokemon

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]

In [9]:
type(pokemon)

pandas.core.frame.DataFrame

In [11]:
pokemon.dtypes

Type    object
dtype: object

In [12]:
pokemon.head(3)

                     Type
Pokemon
Bulbasaur  Grass / Poison
Ivysaur    Grass / Poison
Venusaur   Grass / Poison

In [35]:
pokemon = pokemon.squeeze()     
pokemon                  # Squeezed the dataframe into a series.

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [15]:
type(pokemon)

pandas.core.frame.DataFrame

In [16]:
# another dataset

google = pd.read_csv("data/google_stocks.csv", parse_dates=['Date'], index_col="Date").squeeze()

In [17]:
google.head()

Date
2004-08-19    49.98
2004-08-20    53.95
2004-08-23    54.50
2004-08-24    52.24
2004-08-25    52.80
Name: Close, dtype: float64

In [18]:
type(google)

pandas.core.series.Series

In [24]:
# another dataframe

battles = pd.read_csv("data/revolutionary_war.csv", 
                     parse_dates=["Start Date"], 
                     index_col="Start Date", 
                     usecols=["Start Date", "State"]).squeeze()

In [25]:
battles.head(5)

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
Name: State, dtype: object

In [22]:
# google dataframe

google.sort_values(ascending=False)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
               ...
2004-09-07      50.60
2004-09-02      50.57
2004-08-19      49.98
2004-09-01      49.94
2004-09-03      49.82
Name: Close, Length: 3824, dtype: float64

In [26]:
# battles
battles

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1782-09-11         Virginia
1782-09-13              NaN
1782-10-18              NaN
1782-12-06              NaN
1783-01-22         Virginia
Name: State, Length: 232, dtype: object

In [ ]:
# sort the battles 

battles.sort_values(ascending=False)       # by default missing NaN values should show at the last, no matter ascending order or descending order.

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

In [ ]:
# To see the missing NaN values on the top

battles.sort_values(na_position="last")         # by default na_position is 'last'
battles.sort_values(na_position="first")        # NaN values appear at the beginning.

Start Date
1775-09-17         NaN
1775-12-31         NaN
1776-03-03         NaN
1776-03-25         NaN
1776-05-18         NaN
                ...
1781-07-06    Virginia
1781-07-01    Virginia
1781-06-26    Virginia
1781-04-25    Virginia
1783-01-22    Virginia
Name: State, Length: 232, dtype: object

In [ ]:
battles.dropna().sort_values()                  #dropna() will drop all the NaN values

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1781-07-06       Virginia
1781-07-01       Virginia
1781-06-26       Virginia
1781-04-25       Virginia
1783-01-22       Virginia
Name: State, Length: 162, dtype: object

In [38]:
# pokemon dataframe

pokemon.sort_index(ascending=False)          # By default ascending is True

Pokemon
Zygarde      Dragon / Ground
Zweilous       Dark / Dragon
Zubat        Poison / Flying
Zorua                   Dark
Zoroark                 Dark
                  ...
Aegislash      Steel / Ghost
Accelgor                 Bug
Absol                   Dark
Abra                 Psychic
Abomasnow        Grass / Ice
Name: Type, Length: 809, dtype: object

In [39]:
battles.sort_index(ascending=False, na_position='first')

Start Date
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1783-01-22         Virginia
                  ...
1775-04-20         Virginia
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1774-12-14    New Hampshire
1774-09-01    Massachusetts
Name: State, Length: 232, dtype: object

In [ ]:
# google

google.nsmallest(8)             # get small values , will show in ascending order

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
2004-08-30    50.81
2004-09-08    50.96
2004-09-09    50.96
Name: Close, dtype: float64

In [42]:
google.nlargest(4)      # get largest, will show in descending order

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
Name: Close, dtype: float64

In [44]:
battles = battles.sort_values(ascending=True)

In [45]:
battles.sort_values(inplace=True)               # modifies the original Series, no return value. you cannot do it with the original. have to do a copy

In [46]:
battles

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

#### **Using value_counts() method**

In [47]:
pokemon

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [48]:
pokemon.value_counts()

Type
Normal              65
Water               61
Grass               38
Psychic             35
Fire                30
                    ..
Normal / Dragon      1
Psychic / Steel      1
Rock / Poison        1
Fighting / Ghost     1
Fire / Ghost         1
Name: count, Length: 159, dtype: int64

In [50]:
len(pokemon.value_counts())             # number of unoque values in the series

159

In [51]:
pokemon.value_counts(normalize=True)*100        # relative frequencies of unique values

Type
Normal              8.034611
Water               7.540173
Grass               4.697157
Psychic             4.326329
Fire                3.708282
                      ...
Normal / Dragon     0.123609
Psychic / Steel     0.123609
Rock / Poison       0.123609
Fighting / Ghost    0.123609
Fire / Ghost        0.123609
Name: proportion, Length: 159, dtype: float64

In [52]:
google.min()

np.float64(49.82)

In [53]:
google.max()

np.float64(1287.58)

In [54]:
len(google)

3824

In [55]:
buckets = [0, 200, 400, 600, 800, 1000, 1200, 1400]         # define bins

In [58]:
google.value_counts(bins=buckets, sort=False).sort_index()      # Count of values in each bin

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: count, dtype: int64

In [60]:
# buckets to be taken automatically
google.value_counts(bins=6, sort=False).sort_index()

(48.581, 256.113]      1204
(256.113, 462.407]     1104
(462.407, 668.7]        507
(668.7, 874.993]        380
(874.993, 1081.287]     292
(1081.287, 1287.58]     337
Name: count, dtype: int64

In [61]:


battles.value_counts(dropna=False)

State
NaN               70
South Carolina    31
New York          28
New Jersey        24
Virginia          21
Massachusetts     11
Pennsylvania      10
North Carolina     9
Florida            8
Georgia            6
Vermont            3
Connecticut        3
Rhode Island       3
Delaware           1
New Hampshire      1
Louisiana          1
Indiana            1
Ohio               1
Name: count, dtype: int64

In [62]:
battles.index.value_counts()

Start Date
1781-05-22    2
1780-05-25    2
1775-04-19    2
1777-08-22    2
1781-09-13    2
             ..
1782-08-08    1
1782-08-25    1
1782-09-13    1
1782-10-18    1
1782-12-06    1
Name: count, Length: 217, dtype: int64

#### **Using the apply method to apply different functions on the Series Object**

In [63]:
funcs = [len, min, max]

for fun_name in funcs:
    print(fun_name(google))

3824
49.82
1287.58

In [64]:
google

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64

In [67]:
google.apply(round)
google.apply(func=round)        # Both are same

Date
2004-08-19      50
2004-08-20      54
2004-08-23      54
2004-08-24      52
2004-08-25      53
              ...
2019-10-21    1246
2019-10-22    1243
2019-10-23    1259
2019-10-24    1261
2019-10-25    1265
Name: Close, Length: 3824, dtype: int64

In [68]:
pokemon

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [69]:
def single_or_multi(pokemon_type):
    if "/" in pokemon_type:
        return "Multi"
    else:
        return "Single"
    
pokemon.apply(single_or_multi).value_counts()

Type
Multi     405
Single    404
Name: count, dtype: int64