## **Multi Index DataFrame**

In [1]:
import numpy as np
import pandas as pd

In [2]:
columns = ["Morning", "Evening"]
rows = ["Mon", "Tue", "Wed"]

data = [
    (1, 2),
    (3, 4),
    (5, 6)
]

pd.DataFrame(data=data, index=rows, columns=columns)

     Morning  Evening
Mon        1        2
Tue        3        4
Wed        5        6

In [5]:
columns_index = pd.MultiIndex.from_tuples([
    ("State", "Schools"),
    ("State", "Police"),
    ("Culture", "Museum"),
    ("Culture", "Restuarants")
])
rows = ["Mon", "Tue", "Wed"]

data = [
    (1, 2, 3, 4),
    (3, 4, 5, 6),
    (5, 6, 7, 8)
]

pd.DataFrame(data=data, index=rows, columns=columns_index)

      State        Culture
    Schools Police  Museum Restuarants
Mon       1      2       3           4
Tue       3      4       5           6
Wed       5      6       7           8