### **More on DataFrames**

In [210]:
import numpy as np
import pandas as pd

In [211]:
random_data = np.random.randint(1, 101, (3, 5))
print(random_data)

[[83  8 45 76  4]
 [28 12 38 74 94]
 [81 27 56 12 53]]

In [212]:
row_labels = ["Morning", "Afternoon", "Evening"]
column_labels = ["Monday", "Tuesday", "Wednesday", "Thursday", "Firday"]

df = pd.DataFrame(data=random_data, index=row_labels, columns=column_labels)
df

           Monday  Tuesday  Wednesday  Thursday  Firday
Morning        83        8         45        76       4
Afternoon      28       12         38        74      94
Evening        81       27         56        12      53

In [213]:
df.transpose()          # transpose changes rows to columns and columns to rows
df.T                    # both same

           Morning  Afternoon  Evening
Monday          83         28       81
Tuesday          8         12       27
Wednesday       45         38       56
Thursday        76         74       12
Firday           4         94       53

In [214]:
# nba dataset

nba = pd.read_csv("data/nba.csv", parse_dates=["Birthday"], index_col="Name")
nba.head(5)

C:\Users\toapr\AppData\Local\Temp\ipykernel_14928\2874084214.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  nba = pd.read_csv("data/nba.csv", parse_dates=["Birthday"], index_col="Name")

                              Team Position   Birthday   Salary
Name
Shake Milton    Philadelphia 76ers       SG 1996-09-26  1445697
Christian Wood     Detroit Pistons       PF 1995-09-27  1645357
PJ Washington    Charlotte Hornets       PF 1998-08-23  3831840
Derrick Rose       Detroit Pistons       PG 1988-10-04  7317074
Marial Shayok   Philadelphia 76ers        G 1995-07-26    79568

In [215]:
nba.dtypes.value_counts()

object            2
datetime64[ns]    1
int64             1
Name: count, dtype: int64

In [216]:
nba.min()

Team              Atlanta Hawks
Position                      C
Birthday    1977-01-26 00:00:00
Salary                    79568
dtype: object

In [217]:
nba.max()

Team         Washington Wizards
Position                     SG
Birthday    2000-12-23 00:00:00
Salary                 40231758
dtype: object

In [218]:
nba.nlargest(n=3, columns="Salary")             # get top 3 maximum from single column Salary

                                    Team Position   Birthday    Salary
Name
Stephen Curry      Golden State Warriors       PG 1988-03-14  40231758
Chris Paul         Oklahoma City Thunder       PG 1985-05-06  38506482
Russell Westbrook        Houston Rockets       PG 1988-11-12  38506482

In [219]:
nba.nsmallest(n=3, columns="Salary")

                                 Team Position   Birthday  Salary
Name
Marial Shayok      Philadelphia 76ers        G 1995-07-26   79568
Norvel Pelle       Philadelphia 76ers       FC 1993-02-03   79568
Jaylen Hoard   Portland Trail Blazers       SF 1999-03-30   79568

In [220]:
nba.sum(numeric_only=True)              # mean(), median(), mode(), std()

Salary    3444112694
dtype: int64

In [221]:
nba.mean(numeric_only=True)

Salary    7.653584e+06
dtype: float64

In [222]:
nba.median(numeric_only=True)

Salary    3303074.5
dtype: float64

In [223]:
nba.mode(numeric_only=True)

   Salary
0   79568

In [224]:
nba.std(numeric_only=True)

Salary    9.288810e+06
dtype: float64

#### **Sorting by Index**
- axis = o is for sorting rows
- axis = 1 or "columns" is for sorting columns

In [225]:
nba.sort_index(axis=1, ascending=False)          # axis=1 or axis="columns" for sorting columns, 

# by default ascending=True, to get descending order, have to explisitly turns ascending=False

                               Team    Salary Position   Birthday
Name
Shake Milton     Philadelphia 76ers   1445697       SG 1996-09-26
Christian Wood      Detroit Pistons   1645357       PF 1995-09-27
PJ Washington     Charlotte Hornets   3831840       PF 1998-08-23
Derrick Rose        Detroit Pistons   7317074       PG 1988-10-04
Marial Shayok    Philadelphia 76ers     79568        G 1995-07-26
...                             ...       ...      ...        ...
Austin Rivers       Houston Rockets   2174310       PG 1992-08-01
Harry Giles        Sacramento Kings   2578800       PF 1998-04-22
Robin Lopez         Milwaukee Bucks   4767000        C 1988-04-01
Collin Sexton   Cleveland Cavaliers   4764960       PG 1999-01-04
Ricky Rubio            Phoenix Suns  16200000       PG 1990-10-21

[450 rows x 4 columns]

In [226]:
nba.sort_index(axis=0, ascending=False)          # sorting rows

                                    Team Position   Birthday    Salary
Name
Zylan Cheatham      New Orleans Pelicans       SF 1995-11-17     79568
Zion Williamson     New Orleans Pelicans        F 2000-07-06   9757440
Zhaire Smith          Philadelphia 76ers       SG 1999-06-04   3058800
Zach Norvell          Los Angeles Lakers       SG 1997-12-09     79568
Zach LaVine                Chicago Bulls       PG 1995-03-10  19500000
...                                  ...      ...        ...       ...
Admiral Schofield     Washington Wizards       SF 1997-03-30   1000000
Adam Mokoka                Chicago Bulls        G 1998-07-18     79568
Abdel Nader        Oklahoma City Thunder       SF 1993-09-25   1618520
Aaron Holiday             Indiana Pacers       PG 1996-09-30   2239200
Aaron Gordon               Orlando Magic       PF 1995-09-16  19863636

[450 rows x 4 columns]

#### **Select the rows and columns from a DataFrame**

In [227]:
nba = nba.reset_index()                 # resets the index back as original
nba

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [228]:
nba = nba.set_index("Name")
nba

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [229]:
nba.dtypes

Team                object
Position            object
Birthday    datetime64[ns]
Salary               int64
dtype: object

In [230]:
nba.select_dtypes(include="object")         # includes only object data types

                               Team Position
Name
Shake Milton     Philadelphia 76ers       SG
Christian Wood      Detroit Pistons       PF
PJ Washington     Charlotte Hornets       PF
Derrick Rose        Detroit Pistons       PG
Marial Shayok    Philadelphia 76ers        G
...                             ...      ...
Austin Rivers       Houston Rockets       PG
Harry Giles        Sacramento Kings       PF
Robin Lopez         Milwaukee Bucks        C
Collin Sexton   Cleveland Cavaliers       PG
Ricky Rubio            Phoenix Suns       PG

[450 rows x 2 columns]

In [231]:
nba.select_dtypes(exclude="int")            # excludes int data types

                               Team Position   Birthday
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26
Christian Wood      Detroit Pistons       PF 1995-09-27
PJ Washington     Charlotte Hornets       PF 1998-08-23
Derrick Rose        Detroit Pistons       PG 1988-10-04
Marial Shayok    Philadelphia 76ers        G 1995-07-26
...                             ...      ...        ...
Austin Rivers       Houston Rockets       PG 1992-08-01
Harry Giles        Sacramento Kings       PF 1998-04-22
Robin Lopez         Milwaukee Bucks        C 1988-04-01
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04
Ricky Rubio            Phoenix Suns       PG 1990-10-21

[450 rows x 3 columns]

In [232]:
nba.select_dtypes(exclude=["int", "object"])                # excludes int and object datatypes

                 Birthday
Name
Shake Milton   1996-09-26
Christian Wood 1995-09-27
PJ Washington  1998-08-23
Derrick Rose   1988-10-04
Marial Shayok  1995-07-26
...                   ...
Austin Rivers  1992-08-01
Harry Giles    1998-04-22
Robin Lopez    1988-04-01
Collin Sexton  1999-01-04
Ricky Rubio    1990-10-21

[450 rows x 1 columns]

In [233]:
nba

                               Team Position   Birthday    Salary
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [234]:
nba.loc[["Derrick Rose", "Harry Giles"], ["Team", "Salary"]]        # get the required rows with index and column names 

# loc: location, iloc: index location

                          Team   Salary
Name
Derrick Rose   Detroit Pistons  7317074
Harry Giles   Sacramento Kings  2578800

In [235]:
nba.loc["Christian Wood":"Marial Shayok",["Team", "Salary"] ]           # range from index Christian Wood to Marial Shayok, with the required columns

                              Team   Salary
Name
Christian Wood     Detroit Pistons  1645357
PJ Washington    Charlotte Hornets  3831840
Derrick Rose       Detroit Pistons  7317074
Marial Shayok   Philadelphia 76ers    79568

In [236]:
nba.iloc[1, 2]          

#iloc = index location
# [row index, column index]
# row 1 = Christian Wood	
# column 2 = Birthday 
# which is Christian Wood's Birthday -> 1995-09-27

Timestamp('1995-09-27 00:00:00')

In [237]:
nba = nba.reset_index()
nba

               Name                 Team Position   Birthday    Salary
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [238]:
nba.columns

Index(['Name', 'Team', 'Position', 'Birthday', 'Salary'], dtype='object')

In [239]:
nba.columns=["Name", "Team", "Position", "Day of Birth", "Pay"]     # rename all the columns at once
nba

               Name                 Team Position Day of Birth       Pay
0      Shake Milton   Philadelphia 76ers       SG   1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF   1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF   1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG   1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G   1995-07-26     79568
..              ...                  ...      ...          ...       ...
445   Austin Rivers      Houston Rockets       PG   1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF   1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C   1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG   1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG   1990-10-21  16200000

[450 rows x 5 columns]

In [240]:
nba = nba.rename(columns={"Day of Birth": "Birthday"})          # rename columns
nba

               Name                 Team Position   Birthday       Pay
0      Shake Milton   Philadelphia 76ers       SG 1996-09-26   1445697
1    Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
2     PJ Washington    Charlotte Hornets       PF 1998-08-23   3831840
3      Derrick Rose      Detroit Pistons       PG 1988-10-04   7317074
4     Marial Shayok   Philadelphia 76ers        G 1995-07-26     79568
..              ...                  ...      ...        ...       ...
445   Austin Rivers      Houston Rockets       PG 1992-08-01   2174310
446     Harry Giles     Sacramento Kings       PF 1998-04-22   2578800
447     Robin Lopez      Milwaukee Bucks        C 1988-04-01   4767000
448   Collin Sexton  Cleveland Cavaliers       PG 1999-01-04   4764960
449     Ricky Rubio         Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 5 columns]

In [241]:
nba = nba.set_index("Name")
nba

                               Team Position   Birthday       Pay
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [242]:
nba.rename(index={"PJ Washington": "DJ Washington"})            # renaming an index, PJ Washington to DJ Washington

                               Team Position   Birthday       Pay
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
DJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]

In [243]:
nba             # since we didn't assign the above rename to the actual nba, it doesnt change the actual dataFrame

                               Team Position   Birthday       Pay
Name
Shake Milton     Philadelphia 76ers       SG 1996-09-26   1445697
Christian Wood      Detroit Pistons       PF 1995-09-27   1645357
PJ Washington     Charlotte Hornets       PF 1998-08-23   3831840
Derrick Rose        Detroit Pistons       PG 1988-10-04   7317074
Marial Shayok    Philadelphia 76ers        G 1995-07-26     79568
...                             ...      ...        ...       ...
Austin Rivers       Houston Rockets       PG 1992-08-01   2174310
Harry Giles        Sacramento Kings       PF 1998-04-22   2578800
Robin Lopez         Milwaukee Bucks        C 1988-04-01   4767000
Collin Sexton   Cleveland Cavaliers       PG 1999-01-04   4764960
Ricky Rubio            Phoenix Suns       PG 1990-10-21  16200000

[450 rows x 4 columns]